html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	font-size: 100%;
}

li {
	list-style-type: none;
}

.container {
	display: grid;
	grid-template-columns: 100%;
	margin: 5%;

}

#dribbbleShots {
	display: grid;
	padding: 0;
	margin:0;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 900px) {
	#dribbbleShots {
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 600px) {
	#dribbbleShots {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
	}
}

#dribbbleShots li {
	justify-items: center;
	align-items: center;
	margin: 20px;
	border-radius: 15px;
}

img {
	max-width: 100%;
	border-radius: 15px;
	transition: 0.5s;
	animation-timing-function: ease-in-out;	
}

img:hover {
	border-radius: 15px;
	box-shadow: 0px 10px 25px 0px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=25);
	scale: 105%;
	transition: 0.5s;
	animation-timing-function: ease-in-out;
}

video {
	max-width: 100%;
	width: 800px;
	border-radius: 15px;
	transition: 0.5s;
	animation-timing-function: ease-in-out;	
}

video:hover {
	box-shadow: 0px 10px 25px 0px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=25);
	scale: 105%;
	transition: 0.5s;
	animation-timing-function: ease-in-out;
}
